/* reset */
body, h1, ul, li {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none; 
    padding-left: 0; 
  }
  
  a {
    text-decoration: none;
  }
  
  input {
    display: none;
  }
  
  /* 漢堡按鈕 */
  label {
    float: right;
    padding-right: 100px;
    line-height: 100px;
    cursor: pointer;
    img {
      width: 30px;   
      vertical-align: middle;
    }
  }
  
  /* menu*/
  .menu {
    position: relative;
    opacity:0.75;
    clear: both;
   
    li {
      text-align: center;
      border-bottom: 1px solid #efefef;
      a {
        display: block;
        line-height: 50px;
        font-size: 18px;
        color: white;
        &:hover {
          background: #5d5d5d;
          color:white;
        }
      }
    }
  }
  
  /* 下拉選單效果 */
  .menu {
    max-height: 0;
    overflow: hidden;
    transition: .2s; /* 動畫秒數 */
  }
  
  input:checked ~ .menu {
    max-height: 200px;
  }
  /* mediaquery */
  /*@media screen and (min-width: 768px) {
    label {
      display: none;
    }
    .menu {
      float: right;
      clear: none;
      max-height: 50px;
      background: #eee;
      li {
        display: inline-block;
        a {
          padding: 0 15px;  
        }
      }
    }
  }*/