/* reset */
body, h1, ul, li {
    margin: 0;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none; 
    padding-left: 0; 
  }
  
  a {
    text-decoration: none;
  }
  
  input {
    display: none;
  }
  
  /* 漢堡按鈕 */
  label {
    float: right;
    padding-right: 10px;
    line-height: 100px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;   
      vertical-align: middle;
    }
  }
  
  /* menu*/
  .menu {
    position: relative;
    opacity:1;
    clear: both;
  
    li {
      text-align: center;
      /*border-bottom: 1px solid white;*/
      
      
      a {
        display: inline-block;
        display: block;
        line-height: 70px;
        font-size: 30px;
        padding-right: 10px;
        color: white;
        font-family: Serif;
        transition: all 0.3s ease-in-out; 
    
        &:hover {
          background: #bcb8b1;
          border-radius: 20px;
          color:white;
          font-size: 60px; /* 鼠标悬停时的字体大小 */
          transform:scale(1);/* 使用transform属性放大文字，注意transform属性的默认值为1 */
        }
      }

    }
  }
  
  /* 下拉選單效果 */
  .menu {
    max-height: 0;
    overflow: hidden;
    transition: .4s; /* 動畫秒數 */
    background-color: rgba(116, 112, 112,0.5);
    border-radius: 15px;
  }
  
  input:checked ~ .menu {
    max-height: 500px;
  }
  /* mediaquery */
  /*@media screen and (min-width: 768px) {
    label {
      display: none;
    }
    .menu {
      float: right;
      clear: none;
      max-height: 50px;
      background: #eee;
      li {
        display: inline-block;
        a {
          padding: 0 15px;  
        }
      }
    }
  }*/