/* reset */
body, h1, ul, li {
    margin: 0;
    
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style: none; 
    padding-left: 0; 
  }
  
  a {
    text-decoration: none;
  }
  
  input {
    display: none;
  }
  
  /* 漢堡按鈕 */
  label {
    float: right;
    padding-right: 10px;
    line-height: 100px;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;   
      vertical-align: middle;
    }
  }
  
  /* menu*/
  .menu {
    position: relative;
    opacity:1;
    clear: both;
  
    li {
      text-align: right;
      border-bottom: 1px solid white;
      padding-left: 700px;
      a {
        display: inline-block;
        display: block;
        line-height: 70px;
        font-size: 30px;
        color: black;
        &:hover {
          background: gray;
          color:white;
          border-radius: 10%;
        }
      }
    }
  }
  
  /* 下拉選單效果 */
  .menu {
    max-height: 0;
    overflow: hidden;
    transition: .4s; /* 動畫秒數 */
  }
  
  input:checked ~ .menu {
    max-height: 500px;
  }
  /* mediaquery */
  /*@media screen and (min-width: 768px) {
    label {
      display: none;
    }
    .menu {
      float: right;
      clear: none;
      max-height: 50px;
      background: #eee;
      li {
        display: inline-block;
        a {
          padding: 0 15px;  
        }
      }
    }
  }*/