* {
    box-sizing: border-box;
}

body {
    /*background-image: url("picture/bg1.jpg");*/
    background-color: #bcb8b1;
    margin: 0px;
}

header {
    background-image: url("picture/me2.jpg");
    background-size: cover;
    /*color: white;
    text-align: center;*/
    margin: 0 auto;
    padding: 50px 200px;
    font-size: large;
    box-shadow: 5px 5px 8px 0 #000;
    background-color:rgb(255, 255, 255,0.1);
}


nav a:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: white;
    position: relative;
}

footer {
    background-color: rgba(255, 255, 255, 0.75);
    color: #444444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px 50px;
}

article {
    /*width: 73%;*/
    margin: 20px 20px;
    padding: 20px 20px;
}
.aside{
    float: left;
    width: 25%;
    text-align: center;
}

.clearfix {
    clear: both;
}

.card {
    /*background-image: url("picture/bg.jpg");*/
    border-radius: 15px;
    color:rgb(0, 0, 0);
    text-align: right;
    font-size: 50px;
    margin-left: 700px;
    padding: auto;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: Serif;
}

.aboutme{
    font-size: 40px;
    line-height: 230%;
    padding: 20px;
    font-family: Serif;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    text-align: right;
    padding-left: 400px;
    margin: 200px;
    border-radius: 15px;
    color: white;
    font-family: Serif;
}
h2{
    font-size: 60px;
    padding-left: 20px ;
    margin: 0;
    font-family: Serif;
    position: relative;
    transition: all 0.2s .2s; 
}
h2:hover {
    font-size: 70px; /* 鼠标悬停时的字体大小 */
    transform: scale(1.2);
}
h2:hover::after{
    width:50%;
  }
h2::after{
    content:" ";
    display:block; 
    width: 0%;
    height: 4px;
    background-color: black;
    transition: .3s .2s;
  }
.bdtext{
    float: right;  /* 文字在右邊 */
    width: 600px;
    margin: 10px;
    padding: 20px 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    font-family: Serif;
    transition: all 0.2s ease-in-out;
}
.bdtext:hover {
    font-size: 70px; /* 鼠标悬停时的字体大小 */
    transform: scale(1.2);
}
.pi{
    width: 100px;
    height: 100px;
    margin: 20px ;
    display: block;
    float: right;
}
.bg{
    background-size: cover;
    margin: 10px auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 0 #000;
    background-color: rgba(255,255,255, 0.75);
    font-family: Serif;
}
.text1{
    float: right;  
    width: 700px;
   padding-right: 300px;
   height: 100%;
}
.text2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.ui{
    margin: 0px;
    padding: 50px 50px;
}
.p1{
    font-size: 40px;
    font-family: serif;
    padding-left: 30px;
}
/*@media screen and (max-width: 800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}
<img src="picture/me.png"  width="300px" height="300px"style="border-radius: 50%;" >
*/



